:root {
  --color-surfacelighter: rgba(255,255,255,1);
  --color-surfacelight: rgba(225,225,225,1);
  --color-backgrounddarker: rgba(0,0,0,1);
  --focus-outline-size: 2px;
}

.meta-item-container:hover,
.meta-item-container:focus,
.meta-item-container.active,
.meta-item-container.selected {
  outline-style: none;
}
.meta-item-container:hover::after,
.meta-item-container:focus::after,
.meta-item-container.active::after,
.meta-item-container.selected::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline-style: solid;
  outline-width: var(--focus-outline-size);
  outline-color: var(--color-surfacelighter);
  outline-offset: calc(-1 * var(--focus-outline-size));
  pointer-events: none;
  content: "";
}
.meta-item-container:hover .title-bar-container,
.meta-item-container:focus .title-bar-container,
.meta-item-container.active .title-bar-container,
.meta-item-container.selected .title-bar-container {
  background-color: var(--color-surfacelight);
}
.meta-item-container:hover .title-bar-container .title-label,
.meta-item-container:focus .title-bar-container .title-label,
.meta-item-container.active .title-bar-container .title-label,
.meta-item-container.selected .title-bar-container .title-label {
  color: var(--color-backgrounddarker);
}
.meta-item-container:hover .title-bar-container .multiselect-container .multiselect-label-container .icon,
.meta-item-container:focus .title-bar-container .multiselect-container .multiselect-label-container .icon,
.meta-item-container.active .title-bar-container .multiselect-container .multiselect-label-container .icon,
.meta-item-container.selected .title-bar-container .multiselect-container .multiselect-label-container .icon {
  fill: var(--color-backgrounddarker);
}
