$minimum: 640px;
$xxsmall: 800px;
$xsmall: 1000px;
$small: 1300px;
$medium: 1600px;
$normal: 1900px;
$large: 2200px;
$xlarge: 2500px;
$xxlarge: 2800px;
$xxxlarge: 3800px;

// search page

@media only screen and (max-width: $large) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+10) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+9) {
                      display: none;
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $normal) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+9) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+8) {
                      display: none;
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $medium) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+8) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+7) {
                      display: none;
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $small) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+7) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+6) {
                      display: none;
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $xsmall) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+6) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+5) {
                      display: none;
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $xxsmall) {
  .search-container {
      .search-content {
          .search-row-poster, .search-row-square {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+5) {
                      display: none;
                  }
              }
          }

          .search-row-landscape {
              .meta-item, .meta-item-placeholder {
                  &:nth-child(n+4) {
                      display: none;
                  }
              }
          }
      }
  }
}

// board page

@media only screen and (max-width: $large) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+10) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+9) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $normal) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+9) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+8) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $medium) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+8) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $small) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+6) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $xsmall) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+6) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $xxsmall) {
    .board-container {
        .board-content {
            .board-row-poster, .board-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }
  
            .board-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+4) {
                        display: none;
                    }
                }
            }
        }
    }
  }

// library page

@media only screen and (max-width: $large) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+10) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+9) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $normal) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+9) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+8) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $medium) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+8) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $small) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+6) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $xsmall) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+6) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }
        }
    }
  }
  
  @media only screen and (max-width: $xxsmall) {
    .library-container {
        .library-content {
            .library-row-poster, .library-row-square {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }
  
            .library-row-landscape {
                .meta-item, .meta-item-placeholder {
                    &:nth-child(n+4) {
                        display: none;
                    }
                }
            }
        }
    }
  }
