.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--color-backgroundlighter);

    &.active {
        background-color: var(--color-surfacelight);

        .label {
            color: var(--color-backgrounddarker);
        }

        .icon {
            fill: var(--color-backgrounddarker);
        }
    }

    .label {
        flex: 1;
        max-height: 2.4em;
        color: var(--color-surfacelighter);
    }

    .icon {
        flex: none;
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        fill: var(--color-surfacelighter);
    }

    .menu-container {
        .popup-menu-container();
        width: 100%;

        .menu-container {
            .multiselect-menu-container();
        }
    }
}

.multiselect-menu-container() {
    .option-container {
        .multiselect-option-container();
    }

    .no-options-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: var(--color-backgroundlighter);

        .label {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            font-size: 1.2rem;
            text-align: center;
            color: var(--color-surfacelighter);
        }
    }
}

.multiselect-option-container() {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-backgroundlighter);

    &.selected {
        background-color: var(--color-surfacedarker);

        .icon {
            display: block;
        }
    }

    &:hover, &:focus {
        background-color: var(--color-surfacedark);
    }

    .label {
        .multiselect-option-label();
    }

    .icon {
        flex: none;
        display: none;
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        fill: var(--color-surfacelighter);
    }
}

.multiselect-option-label() {
    flex: 1;
    max-height: 4.8em;
    color: var(--color-surfacelighter);
}
