@import (reference) '../../common/screen-sizes.less';

:import('../../common/PaginateInput/styles.less') {
    paginate-prev-button-container: prev-button-container;
    paginate-next-button-container: next-button-container;
}

.discover-container {
    .discover-content {
        .controls-container {
            // TODO
            .select-input-container {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 15rem;
                height: 3rem;
                margin-right: 1rem;

                &:nth-child(n+4) {
                    display: none;

                    &~.filter-container {
                        display: block;
                    }
                }

                .menu-container {
                    .multiselect-menu-container();
                    max-height: calc(3.2rem * 7);
                    overflow: auto;
                }
            }

            .filter-container {
                display: none;
                flex: none;
                width: 3rem;
                height: 3rem;
                background-color: var(--color-backgroundlighter);

                &:not(:nth-last-child(2)) {
                    margin-right: 1rem;
                }

                .filter-icon {
                    display: block;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin: 0.9rem;
                    fill: var(--color-surfacelighter);
                }
            }
            
            .spacing {
                flex: 1;
            }

            .paginate-input-container {
                flex: none;
                background-color: var(--color-backgroundlighter);

                .prev-button-container, .next-button-container {
                    .paginate-prev-button-container();
                    .paginate-next-button-container();
                    width: 3rem;
                    height: 3rem;
                }

                .multiselect-label {
                    .paginate-multiselect-label();
                    max-width: 3rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
